[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "dmr.py"
version = "0.0.2"
authors = [
  { name="Jasper", email="jasper@jazper.dk" },
]
description = "Pull data directly from the danish vehicle registar with dmr.py"
readme = "README.md"
license = { file="LICENSE" }
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

dependencies = [
    "lxml >= 4.8.0",
    "requests >= 2.27.1",
    "aiohttp >= 3.8.1",
]

[project.optional-dependencies]
test = [
    "pytest>=7.1.2",
]


[project.urls]
"Homepage" = "https://github.com/j4asper/dmr.py"
"Bug Tracker" = "https://github.com/j4asper/dmr.py/issues"